// ----------------------------------------
// variable.styl
// ----------------------------------------

// font-size controll
baseFontSize = 14px;

// screen controll
mainWidth = 960px;

// font-color controll
baseFontColor = #333;

// background-color controll
baseBgColor = #f0f0f0;

// ----------------------------------------
// Mixin
// ----------------------------------------

screenWidth() {
  width: mainWidth;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}